<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.saturdayproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <data android:scheme="tel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <activity android:name=".list.ListExamActivity" />
        <activity android:name=".list.MemoActivity" />
        <activity android:name=".LifeCycleActivity" />
        <activity android:name=".JsonActivity" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".db.MemoActivity" />
        <activity android:name=".db.MemoDetailActivity" />
        <activity android:name=".provider.ProviderActivity" />

        <!-- <receiver -->
        <!-- android:name=".receiver.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.suwonsmartapp.saturdayproject.action.TEST_BROADCAST" /> -->
        <!-- <action android:name="android.intent.action.BATTERY_LOW" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false"></service>
    </application>

</manifest>